<html>
<div align="center">
	<h1> SWISET </h1>
</div>
<div>
	<label for="name"> Riesgo monetario </label>
	<input type="text" id="monetario" name="monetario" size="10">
	<br> <br>
	<label for="name"> Porcentaje de riesgo </label>
	<input type="text" id="porcentaje" name="porcentaje" size="10">
</div>
<div>
	<select name="Estado de animo">
	<option value="value1">Relajado</option>
  	<option value="value2" selected>Concentrado</option>
  	<option value="value3">Ansioso</option>
	<option value="value4">Confiado</option>
	<option value="value5">Cauteloso</option>
	<option value="value6">Optimista</option>
	<option value="value7">Nervioso</option>
	<option value="value8">Agresivo</option>
	<option value="value9">Feliz</option>
	<option value="value10">Enojado</option>
	<option value="value11">Emocionado</option>
	<option value="value12">Aburrido</option>
	<option value="value13">Desanimado</option>
	<option value="value14">Triste</option>
	<option value="value15">Herido</option>
	<option value="value16">Furioso</option>
	<option value="value17">Enfermo</option>
</select>
<br>
</div>
<div>
<br>
<button type="button">Predecir</button>
</div>
</html>