<html>
<div align="center">
	<h1> SWISET </h1>
</div>
<div>
	<label for="name"> Riesgo monetario </label>
	<input type="text" id="monetario" name="monetario" size="10">
	<br> <br>
	<label for="name"> Porcentaje de riesgo </label>
	<input type="text" id="porcentaje" name="porcentaje" size="10">
</div>
<div>
	<select name="Estado de animo">
	<option value="value1">Feliz</option>
  	<option value="value2" selected>Triste</option>
  	<option value="value3">Enojado</option>
</select>
<br>
</div>
<div>
<br>
<button type="button">Predecir</button>
</div>
</html>